/*
body{
  background-image: url(assets/pexels.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

   tam olarak orta 
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
*/

body{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  background-color: rgb(165, 240, 240);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

body.weather-clear{
background-image: url('assets/background/clearday-image.jpg');
}

body.weather-partly-cloudy-day{
background-image: url('assets/background/partly-cloudy-image.jpg');
}

body.weather-cloudy{
background-image: url('assets/background/cloudy-image.jpg');
}

body.weather-showers{
background-image: url('assets/background/sowery-image.png');
}

body.weather-fog{
background-image: url('assets/background/foggy-image.jpg');
}

.image-week{
  width: 110px;
  height: 110px;
}

.day-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container{
  
}

.outline-container{
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border: 1px solid rgb(146, 146, 146);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
}

.inner-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.week-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.weather-week-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}